$text-color:#abc;
$background-color:#2c3440;
$background-image:#14181c url(https://s.ltrbxd.com/static/img/content-bg.0d9a0f0f.png) 0 -1px repeat-x;
$link_color:white;
$border_color:#667788;
$card_footer_color:#456