   @import '../../variables';
   *{
    color:$text-color;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   }
   body{
    background: $background-image;
    .container{
        max-width: 950px;
        margin: 0 auto;
    }
   }
 
                                                                                               